body {
    font-family: 'Arial', sans-serif;
}

#sidebar {
    background: #333;
    height: 100vh;
    padding-top: 20px;
}

#content {
    padding: 20px;
}

.movie-image {
    width: 200px;
    height: 300px;
}