body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.movie-list-container {
    margin-top: 20px;
    padding: 0 20px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 200px;
    height: 250px;
}

.movie-card img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: transform 0.3s ease;
}

.movie-card:hover img {
    transform: scale(1.1);
}

.movie-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movie-card:hover .movie-overlay {
    opacity: 1;
}

.movie-overlay h5,
.movie-overlay p {
    margin: 0;
    color: white;
}

.movie-overlay a {
    margin-top: 10px;
    color: #ffc107;
    text-decoration: none;
}

.movie-overlay a:hover {
    text-decoration: underline;
}

.container h1 {
    margin-top: 20px
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: start;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    margin: 0 4px;
    border-radius: 50%;
    position: relative;
}

.rating label:before {
    content: '\2605';
    /* Unicode character for a star */
    font-size: 24px;
    color: #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rating input:checked~label:before {
    color: #f8d825;
    /* Color for a selected star */
}

.rating label:hover:before,
.rating label:hover~label:before {
    color: #f8d825;
    /* Color for a hovering or selected star */
}

.search-container{
    position: relative;
}

.search-list
{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.search-list ul {
    display: block;
    padding: 0;
}

.movie_search_item{
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.5);
    list-style: none;
    color: #fff;
}
.movie_search_item:hover{
    background-color: hsla(0, 0%, 0%, 1);
}

.movie_search_item a{
    display: flex;
    width: 100%;
    height: 100px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.movie_search_item img{
    height: 100px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    /* padding: 5px; */
  }

.footer p,
.footer a {
    flex: 1;
    margin-right: 10px;
    margin: 2px;
}
